In [ ]:
print(2)

2

In [ ]:
x=5
print (x)
print ("addition=",x+10)
print ("multiplication=",x*5)

5
addition= 15
multiplication= 25

In [ ]:
y=10
y
print ("addition=",y+5)

addition= 15

In [ ]:
x,y=5,10
print (x+y)
print ("addition=",x+y)
print ("subtraction=",x-y)
print ("division=",x/y)
print ("division=",x//y)
print ("modulus=",x%y)
print ("exponential=",x**2)
print ("exponential=",y**3)
print ("multiplication=",x*y)

15
addition= 15
subtraction= -5
division= 0.5
division= 0
modulus= 5
exponential= 25
exponential= 1000
multiplication= 50

In [ ]:
str="coffee"
print ("this is bru",str)

this is bru coffee

In [ ]:
name="santhiya"
print ("My name is",name)

My name is santhiya

In [ ]:
str="santhiya"
print (str)

santhiya

In [ ]:
str="santhiya"
print ("my name is", str)

my name is santhiya

In [ ]:
str="February"
print (str,"has 28 days this year")

February has 28 days this year